{% extends 'base.html'%} {% block content%}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
      voluptas architecto, rerum, dignissimos aliquam , aspernatur quae sed
      dolores ve l neque recusandae omnis earum id quasi culpa eum ducimus
      dolorem harum.
    </p>

    <div class="text-center">
      <a class="btn btn-primary" href="/signin">signin</a>
      <a class="btn btn-primary" href="/signup">signup</a>
    </div>
  </section>
</main>
{% endblock %}
