{% extends 'base.html' %} {% block content %}

<main class="container">
  <div class="row">
    <section class="col-md-4 offset-md-4 mt-5">
      <form action="/signin/" method="POST" class="card card-body">
        {% csrf_token %}
        <h1 class="text-center">Signin</h1>
        {{error}} {% csrf_token %}

        <div class="mb-3">
          <label for="username">username:</label>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="user name"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="password1">password:</label>
          <input
            type="password"
            name="password"
            id="password1"
            placeholder="password"
            class="form-control"
          />
        </div>

        <button class="btn btn-primary">Signin</button>
      </form>
    </section>
  </div>
</main>

{% endblock %}
