{% extends 'base.html'%} {% block content%}

<main class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 mt-5">
      <form method="POST" class="card card-body">
        <h1 class="text-center">Signup</h1>
        {{error}} {% csrf_token %}

        <div class="mb-3">
          <label for="username">username:</label>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="user name"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="password1">password:</label>
          <input
            type="password"
            name="password1"
            id="password1"
            placeholder="password"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="password2">Confirm password:</label>
          <input
            type="password"
            name="password2"
            id="password2"
            placeholder="password"
            class="form-control"
          />
        </div>

        <button class="btn btn-primary">signup</button>
      </form>
    </div>
  </div>
</main>

{% endblock %}
