{% extends 'base.html' %}

{% block content %}


<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">

            <h1 class="text-center">{{task.title}}</h1>

            {{error}}

            <form method="POST" class="card card-body ">

                {% csrf_token %}
                {{form.as_p}}

                <button class="btn btn-primary">
                    Update
                </button>
            </form>
           <div class="d-flex mt-5">
            

            <form action="{% url 'complete_task' task.id %}" method='POST'>
                {% csrf_token %}
                <button class="btn btn-secondary">
                    Complete
                </button>
            </form>

            <form action="{% url 'delete_task' task.id %}" method='POST'>
                {% csrf_token %}
                <button class="btn btn-danger">
                    Delete
                </button>
            </form>
           </div>

        </div>
    </div>
</main>

{% endblock %}